@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/*General style*/
.text-red{
    color: rgb(230, 83, 60);
} 
.text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.text-si{
    font-size: 1.23rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
 main h2, h3{
    color: white;
}


.btn-primary{
    width: 92px;
    height: 38px;
    border-radius: 42px;
    border: none;
background: rgb(230, 83, 60);
color: white;
font-size: 1.125rem;
font-weight: 600;


}
.secondary-btn{
    width: 224px;
    height: 54px;
    color: white;
font-size: 1.125rem;
font-weight: 600;
border-radius: 42px;
}

.display-flex{
    display: flex;
}
.background{ background-color: black;


}


/*nav style*/
nav{
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
   
    
}
nav ul li {
    list-style: none;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    
   
    
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
}


/*banner style*/
.banner{
    margin: 0 auto;
    padding: 0 15%;
}
.banner-content{
    justify-content: space-between;
}
.banner-tit{
    color: white;
    font-size: 4.88rem;
    font-weight: 900;
}
#differnt{
font-weight: 400;
}
.banner-btn{
    background-color: black;
    border: 1px solid white;
}
.gap{
    gap: 20px;
}
.tutorial-rel{
    position: relative;
}
.Down{
    position: absolute;
   bottom: 40px;
   left:-200px;
  
}
.top{
    position: absolute;
    top:100px;
    right: -60px;
}



.free{
    margin-top: 25%;
   
   
}
.banner-des{
    padding-left: 20%;
    

}
.banner-tutorial{
    color: white;
    width: 13.75rem;
    height: 6.125rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
   padding: 20px 0;
    text-align: center;
    
}
.tutorial{
    font-size: 1.44rem;
}
/*main part
Section-1 Design*/
.sec-1-container{
    max-width: 66.25rem;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    }
    .sec-1-about img{
       border-radius: 50%;
       border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .sec-1-about{
        text-align: center;
        margin-top: 40px;
    }
    .run-container{
        max-width: 66.26rem;
        margin: 0 auto;
       
    }
    .run{
       width: 90%;
        margin-top: 50px;
        box-sizing: border-box;
       background: rgb(34, 34, 34);
        backdrop-filter:blur(20px) ;
        border-radius: 18px;
        justify-content: space-between;
        justify-items: center;
       align-items: center;
       

    }
    .extra{
        padding: 0px 30px;
    }

    .run img{
        width: 100%;
     border-radius: 18px;
       
    }
   /*Trainings and Exercises*/
   .exercise-container{
    width: 66.25rem;
    margin: 0 auto;
    margin-top: 100px;
   }
   .grid-container{
display: grid;
grid-template-columns: 15.63rem auto 20.06rem;
   }
   .grid-container img{
    width: 100%;
    height: 240px;
    opacity: 0.5;

   }
   .exercise-1{
    position: relative;
   
   }
   .bottom{
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size: 1.2rem;
    color: white;
    
   }
   
   
   /* BMI calculate part design*/
   .bmi-cal{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 189px;
    padding-left: 300px;
    margin-top: 100px;

   }
   .column-1{
   width: 19.38rem;
   }
   
   table{
    width: 100%; 
    text-align: center;
   }
   th,td{
    height: 40px;
   }
   table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    }
    .column-2{
        width: 36.06rem;
      
    }
   input, select{
        width: 50%;
        height: 30px;
       margin-bottom: 20px;
       border-radius: 15px;
       padding-left: 20px;
       
    }

    #activity{
        width: 100%;
    }
    /* trainer section style*/
    .meet-team{
        max-width: 66.25rem;
        margin: 0 auto;
        text-align: center;
    }
    .grid-container-2{
        width: 64rem;
        height: 37.75rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 18px;
        display: grid;
        grid-template-columns: 20.392rem 20.392rem 20.39rem;
        gap: 10px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
       
    }
    .grid-container-2 img{
        width: 100%;
        height: 272px;
        border-radius: 18px;
    }
    
   
    
    
    


/*foooter style*/
.foot{
    color: white;
   
    padding: 50px 195px;
}
.footer-content{ 
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.copyright{

    align-items: center;
    text-align: center;
    
}
.foot-title{
    font-size: 4.38rem;
    font-weight: 800;
}

/*responsive*/
@media screen and (max-width: 576px) {
   .habit{
    flex-direction: column;
   }
   .sec-1-about{
    margin-top: 10px;
   }
   .run{
   
    flex-direction: column;
    padding: 0px 0px;


   }
   .run-container{
    display: flex;
justify-content: center;    
   }
   .run img{
    width: 100%;
    margin-top: 20px;
   }
   .exercise-container{
    width: 25rem;
  
   }
   .grid-container{
    grid-template-columns: 11rem 11.5rem;
   }
   .bmi-cal{
    flex-direction: column;
    padding: 0px;
    padding-bottom: 30px;
   }
   .column-2{
    width: 20.25rem;
    
    
   }
   .grid-container-2{
    grid-template-columns: 20.392rem;
    height: auto;
    width: auto;
   }
   
   

   
   
   
    .foot{
        padding: 0 80px;
    }
.footer-content{ flex-direction: column;
}
.copyright{
    padding-bottom: 20px;
}
    
}